
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

.title {
  text-align: center;
  margin-bottom: 40px;
}

.title span {
  font-weight: 400;
  font-size: 45px;
  line-height: 53px;
  color: #374639;
}

.title p {
  font-size: 19px;
  color: #3f514b;
  font-weight: 400;
  line-height: 27px;
  max-width: 519px;
  margin: 20px auto 0;
}

.blog-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 23px;
  row-gap: 40px;
}

.blog {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
}

.blog img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.blog .name-blog {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #374639;
  margin: 16px 0 8px;
}

.blog p {
  font-size: 14px;
  line-height: 21px;
  color: #3f514b;
  margin-bottom: 16px;
}

.blog .price {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #374639;
  margin-bottom: 16px;
}



.blog .list-group span {
  font-size: 14px;
  line-height: 21px;
  color: #4e5c58;
}

@media (max-width: 991px) {
  .blog-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 575px) {
  .blog-list {
    grid-template-columns: 1fr;
  }

  .title span {
    font-size: 32px;
    line-height: 40px;
  }

  .title p {
    font-size: 16px;
    line-height: 24px;
  }
}
